---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import { Prism } from "@astrojs/prism";
import logo from "../../images/ball.gif";
import { getLangFromUrl } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);

const goCode = `
const whoami = {
    name: 'Hector Aldair Aguilar',
    alias: 'bitbyte',
    website: 'https://bitbyte.blog',
    ocuppation: 'Software Enginner at Clip',
    languages: ['Javascript', 'Typescript', 'HTML', 'CSS', 'Python', "Golang"],
    frameworks: ['React', 'Vue', 'Next.js'],
    interest: ['Web Development', 'Open Source', 'Linguistics', 'Gym']
    learning: ['Go', 'Elixir', 'Rust', 'Esperanton']
}
`;
---

<Layout title="hello" greet="welcome to my cozzy site">
  <div class="max-w-2xl">
    <div class="inline-flex items-center mt-10">
      <Image loading="eager" src={logo} alt="Logo" width={80} />
      <span class="text-rosewater text-6xl underline ml-4">
        <a href={`/${lang}/`}>bitbyte.blog</a>
      </span>
    </div>
    <div class="mt-6 space-y-4">
      <p>
        Hi, I'm Héctor, a Software Engineer with a passion for web development.
      </p>
      <p>
        Welcome to my website, a personal space where you can read about my
        experiences as I learn new things. I'm currently exploring Go, Elixir,
        and improving as a Front-End developer.
      </p>
      <p>Currently working at <a href="www.clip.com.mx">Clip.</a></p>
    </div>
  </div>
  <!--<Prism class="max-w-4xl" lang="js" code={goCode} />-->

  <h3 class="mt-5">Socials</h3>
  <ul class="flex flex-wrap gap-3">
    <li><a href="" target="_blank">LinkedIn</a></li>
    <li><a href="" target="_blank">Github</a></li>
    <li><a href="" target="_blank">Mastodon</a></li>
    <li><a href="" target="_blank">BlueSky</a></li>
  </ul>
</Layout>
