---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur nihil blanditiis eum voluptate quae praesentium qui accusantium tempora, laboriosam ad aperiam. Odio ullam commodi praesentium maiores ea eos harum? Architecto.
	</main>
</Layout>

