---
const { title, greet } = Astro.props;
---

<header
  style="grid-area: title;"
  class="border-b border-dotted border-text p-2"
>
  <h3 class="text-sm">
    {title} :: <span class="text-lg text-text">{greet}</span>
  </h3>
</header>
