<nav style="grid-area: navigation;" class="border-b border-text p-2 flex items-center gap-5 flex-wrap lowercase" >
  <a href="/" class="p-1 hover:bg-rosewater hover:text-crust">Home</a>
  <a href="/about" class="hover:underline">blog</a>
  <a href="/contact" class="hover:underline">pixelart</a>
  <a href="/blog" class="hover:underline">books</a>
  <a href="/projects" class="hover:underline">gym log</a>
  <a href="/" class="hover:underline">about</a>
  <a href="/" class="hover:underline">uses</a>
</nav>
